@font-face {
    font-family: 'bebas'; /*a name to be used later*/
    src: url('/fonts/BEBAS.TTF'); /*URL to font*/
}

body {
    font-family: "Oswald", "Helvetica Neue", "Helvetica", sans-serif;
    color: #FFF;
    background-image: url('/img/patroon2.png');
}

article {
    margin: 0 30px 0 50px;
}

.spacer {
    border-top: solid 1px #B4D91B;
    margin: 20px;
}

.container {
    height: 100%;
}

.li-page-header .li-brand {
    position: fixed;
    margin: 0 0 0 -40px !important;
    z-index: 1 !important;
    padding: 0;
}

.bank-15-logo {
  float: right;
  margin: 25px 0 0 0;
}

a,
a:active,
a:hover,
a:visited {
    color: #B4D91B;
    text-decoration: none;
    font-weight: bold;
}

p, span {
    margin-lef
    line-height: 30px;
    font-size: 1.125em;
    font-weight: 300;
    text-align: justify;
}

a {
    text-decoration: underline;
    font-weight: 300;
}

a:hover {
    font-weight: 300;
}

h1 {
    color: #B4D91B !important;
    font-family: "bebas", "Helvetica Neue", "Helvetica", sans-serif;;
    font-size: 2.5em;
    line-height: 60px;
}

h2 {
    font-size: 2.5em;
    line-height: 60px;
}

h3 {
    font-size: 2em;
}

h4 {
    color: #B4D91B !important;
    font-family: "bebas", "Helvetica Neue", "Helvetica", sans-serif;;
    font-size: 1.5em;
    font-weight: 700 !important;
}

h1, h2, h3, h4, h5, h6 {
    color: #FFF;
    font-weight: 100;
}

.table-part {
    max-width: 50% !important;
    display: inline-block;
    float: left;
}

.table-part:nth-of-type(even) {
    -moz-transform: scale(-1, 1);
    -webkit-transform: scale(-1, 1);
    -o-transform: scale(-1, 1);
    -ms-transform: scale(-1, 1);
    transform: scale(-1, 1);
    float: right;
}

.social {
    padding-top: 10px;
    width: 100%;
    float: left;
    height: 50px;
}

.social .fb-like {
    margin-right: 0;
}

.social * {
    float: left;
    margin-right: 5px;
}

.logo {
    float: left;
    padding: 15px;
    height: 40px !important;
}

.li-page-header {
    background-color: rgba(255, 255, 255, 0);
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.06);
    color: #000;
    padding: 0;
}

.li-page-header .li-brand {
    margin-top: 5px;
}

.li-page-header ul li {
    float: left;
    list-style: none;
    line-height: 30px;
    margin-left: 0;
    padding: 15px 15px;
}

.li-page-header ul li:hover {
    background-color: #000;
}

.li-page-header ul a li,
.li-page-header ul a li:active,
.li-page-header ul a li:hover,
.li-page-header ul a li:visited {
    color: #ccc;
    font-weight: 300;
    font-size: 18px;
    text-decoration: none;
}

.li-page-header ul a li:active {
    color: #000
}

.li-page-header ul a li:hover {
    color: #fff;
}

.li-page-header .li-menu-icon {
    padding: 10px;
    font-size: 2em;
}

/* likes & stuff */



/* vimeo css */

#thumbs {
  overflow: auto;
  padding: 0;
  float: left;
}

#thumbs ul {
  padding: 0;
}

#thumbs ul li {
  float: left;
}

.thumb {
  border: 0;
  float: left;
  width: 178px;
  margin: 1px;
}

#embed {
  position: relative;
  background-color: #E7E7DE;
  width: 100%;
  margin: 0 auto;
}

#embed iframe {
  display: block;
  margin: 0 auto;
  padding: 10px 0;
}

#portrait {
  float: left;
  margin-right: 5px;
  max-width: 100px;
}

#stats {
  clear: both;
  margin-bottom: 20px;
}

@media only screen and (max-width: 767px) {
  .thumb {
    width: 148px
  }
}
